.footer {
    max-height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container {
    text-align: center;
}

.footer-text {
    font-size: 1em;
}

.github-icon {
    margin-right: 5px;
}
