.build-area__dropzone {
  margin: 0.75em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropzone {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.gpu-slot {
  width: 185px;
  height: 45px;
  padding-left: 5px;
  margin: 15px;
}
